<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>论坛首页</title>
</head>
<script src="./Js/jquery-3.4.1.min.js"></script>
<style>
    ul {
        list-style: none;
    }

    #menu {
        cursor: pointer;
        margin: 0px;
        padding: 0px;
        margin-top: 25px;
        margin-left: 20px;
    }

    #menu li ul {
        display: none;
    }

    #menu li ul li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
<body style="margin: 0px;">
<div style="width: auto;height: 750px;border: 1px solid rgba(15,0,0,0.42);">
    <div id="top" style="width: auto;height: 80px;border: 1px solid rgba(15,0,0,0.42);">
        <div style="width: 300px;height: 80px;float: left;">
            <h2 style="margin-left: 30px;">论坛首页</h2>
        </div>
        <div style="width: auto;height: 80px;margin-left: 800px">

        </div>
    </div>
    <div id="bottom" style="width: auto;height: 666px;border: 1px solid rgba(15,0,0,0.42);">
        <div id="left" style="width: 200px;height: 664px;border: 1px solid rgba(15,0,0,0.42);float: left;">
            <ul onselectstart="return false" id="menu">
                <li>
                    <a href="/section/bbsSectionSelect.do" target="test">查看板块</a>
                </li>
                <li>
                    <a href="/topic/bbsTopicSelect.do" target="test">查看主题</a>
                </li>
            </ul>

        </div>
        <div id="right" style="width: auto;height: 664px;border: 1px solid rgba(15,0,0,0.42);">
            <iframe id="test" name="test" style="width: 1308px;height: 660px;" frameBorder=0></iframe>
        </div>
    </div>
</div>
</body>
<script>
    function displayUl(id) {
        var ul = $("#ul" + id);

        if (ul.css("display") == "none") {
            ul.css("display", "block");
        } else {
            ul.css("display", "none");
        }
    }
</script>
</html>