<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>论坛首页</title>
</head>
<body>
<table border="1">
    <tr>
        <td style="width: 10%">板块名称</td>
        <td style="width: 10%">主题数量</td>
        <td style="width: 80%">主题信息</td>
    </tr>
    <tr th:each="sectionInfo,sectionStart:${sectionList}">
        <td style="width: 10%" th:text="${sectionInfo.getSName()}"></td>
        <td style="width: 10%" th:text="${sectionInfo.getSTopicCount()}"></td>
        <td style="width: 80%">
            <table border="1" th:if="${sectionInfo.getSTopicCount() le 0}">
                <tr>
                    <td style="width: 20%">主题名称</td>
                    <td style="width: 20%">主题内容</td>
                    <td style="width: 10%">回复数量</td>
                    <td style="width: 50%">回复信息</td>
                </tr>
                <tr th:each="topicInfo,topicStart:${topicList}" th:if="${topicInfo.getTSId()} eq ${sectionInfo.getSId()}">
                    <td style="width: 20%" th:text="${topicInfo.getTTopic()}"></td>
                    <td style="width: 20%" th:text="${topicInfo.getTContents()}"></td>
                    <td style="width: 10%" th:text="${topicInfo.getTReplyCount()}"></td>
                    <td style="width: 50%">
                        <table border="1" th:if="${topicInfo.getTReplyCount()} le 0">
                            <tr>
                                <td style="width: 30%">回复主题</td>
                                <td style="width: 70%">回复内容</td>
                            </tr>
                            <tr th:each="replyInfo,replyStart:${replyList}" th:if="${replyInfo.getRTId()} eq ${topicInfo.getTId()}">
                                <td style="width: 30%" th:text="${replyInfo.getRTopic()}"></td>
                                <td style="width: 70%" th:text="${replyInfo.getRContents()}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>