<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>查询所有论坛用户</title>
</head>
<body>
<table border="1">
    <tr>
        <td>用户编号</td>
        <td>用户名</td>
        <td>用户密码</td>
        <td>用户性别</td>
        <td>用户头像路径</td>
        <td>用户注册时间</td>
        <td>用户类型</td>
        <td>操作</td>
    </tr>

    <tr th:each="userInfo,userStart:${bbsUserInfoList}">
        <td th:text="${userInfo.getUId()}"></td>
        <td th:text="${userInfo.getUName()}"></td>
        <td th:text="${userInfo.getUSex()}"></td>
        <td th:text="${userInfo.getUPassword()}"></td>
        <td th:text="${userInfo.getUFace()}"></td>
        <td th:text="${userInfo.getURegTime()}"></td>
        <td th:text="${userInfo.getUType()}"></td>
        <td><a th:href="@{'bbsUserDelete.do?uId='+${userInfo.getUId()}}">删除</a> ||
            <a th:href="@{'bbsUserUpdate.do?uId='+${userInfo.getUId()}}">修改</a>
        </td>
    </tr>
</table>
</body>
</html>