<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IMallOrderListDao">

	<resultMap id="MallOrderListMap" type="com.pojo.MallOrderList">
		<id column="order_list_id" property="orderListId"/>
		<result column="order_id" property="orderId"/>
		<result column="commodity_id" property="commodityId"/>
		<result column="amount" property="amount"/>
	</resultMap>

</mapper>