<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellspacing="0" cellpadding="0" style="text-align: center;margin: auto">
    <form action="../admin/updatePassword.ny" method="post">
        <input type="hidden" name="id" th:value="${id}">
        <tr height="30">
            <td width="350" align="right">新密码：</td>
            <td width="350" align="left">
                <input type="text" id="password1" name="password1" style="margin-left: 20px">
            </td>
        </tr>
        <tr height="30">
            <td width="350" align="right">确认密码：</td>
            <td width="350" align="left">
                <input type="text" id="password2" name="password2" style="margin-left: 20px">
            </td>
        </tr>
        <tr>
            <td width="700" colspan="2" height="30">
                <input type="submit" value="确认修改">
            </td>
        </tr>
    </form>
</table>
</body>
</html>