<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IHotelRoomInfoDao">

	<resultMap id="HotelRoomInfoMap" type="com.pojo.HotelRoomInfo">
		<id column="room_info_id" property="roomInfoId"/>
		<result column="room_info_name" property="roomInfoName"/>
		<result column="room_info_number" property="roomInfoNumber"/>
		<result column="room_info_pre_price" property="roomInfoPrePrice"/>
		<result column="room_info_pre_discount" property="roomInfoPreDiscount"/>
		<result column="room_info_hour_base_price" property="roomInfoHourBasePrice"/>
		<result column="room_info_hour_price" property="roomInfoHourPrice"/>
	</resultMap>

</mapper>