<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IHotelRoomDao">

	<resultMap id="HotelRoomMap" type="com.pojo.HotelRoom">
		<id column="room_id" property="roomId"/>
		<result column="room_area" property="roomArea"/>
		<result column="room_floor" property="roomFloor"/>
		<result column="room_prct_price" property="roomPrctPrice"/>
		<result column="room_telephone" property="roomTelephone"/>
		<result column="room_state" property="roomState"/>
		<result column="room_avalable" property="roomAvalable"/>
		<result column="room_catalog" property="roomCatalog"/>
		<result column="room_picture" property="roomPicture"/>
		<result column="room_prct_discount" property="roomPrctDiscount"/>
	</resultMap>

</mapper>