<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IHotelBalanceMentDao">

	<resultMap id="HotelBalanceMentMap" type="com.pojo.HotelBalanceMent">
		<id column="balance_id" property="balanceId"/>
		<result column="balance_check_inorder_id" property="balanceCheckInorderId"/>
		<result column="balance_guest_id" property="balanceGuestId"/>
		<result column="balance_type" property="balanceType"/>
	</resultMap>

</mapper>